CREATE TABLE entries (
	id INTEGER NOT NULL, 
	src_text TEXT NOT NULL, 
	tgt_text TEXT NOT NULL, 
	lang_src VARCHAR(8), 
	lang_tgt VARCHAR(8), 
	created_at DATETIME, article_id INTEGER, position INTEGER, 
	PRIMARY KEY (id)
);
CREATE INDEX idx_entries_text ON entries (src_text, tgt_text);
CREATE INDEX ix_entries_created_at ON entries (created_at);
CREATE TABLE sources (
	id INTEGER NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	url VARCHAR(1024), 
	PRIMARY KEY (id), 
	UNIQUE (name)
);
CREATE TABLE entry_sources (
	entry_id INTEGER NOT NULL, 
	source_id INTEGER NOT NULL, 
	PRIMARY KEY (entry_id, source_id), 
	FOREIGN KEY(entry_id) REFERENCES entries (id), 
	FOREIGN KEY(source_id) REFERENCES sources (id)
);
CREATE TABLE articles (
	id INTEGER NOT NULL, 
	title VARCHAR(255) NOT NULL, 
	source_id INTEGER, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(source_id) REFERENCES sources (id)
);
CREATE INDEX ix_articles_created_at ON articles (created_at);
